#include "resource.h"

/*TEXTURE
BEGIN
  IDR_MAINMENU "D:/Projects/VisualStudio/AdventureOfHackerMan/AdventureOfHackerMan/Resources/MainMenuBG.txt"
  IDR_STARTBUTTON "StartButton.txt"
END*/

IDR_STARTBUTTON TEXTURE "../Textures/MainMenu/StartButton.txt"
IDR_EXITBUTTON TEXTURE "../Textures/MainMenu/ExitButton.txt"
IDR_OPTIONSBUTTON TEXTURE "../Textures/MainMenu/OptionsButton.txt"
IDR_MAINMENUBG TEXTURE "../Textures/MainMenu/MainMenuBG.txt"
IDR_OPTIONSMENUBG TEXTURE "../Textures/OptionsMenu/OptionsMenuBG.txt"
IDR_BACKBUTTON TEXTURE "../Textures/BackButton.txt"
IDR_SAMURAIBUTTON TEXTURE "../Textures/ClassChoosingMenu/SamuraiButton.txt"
IDR_EVREYBUTTON TEXTURE "../Textures/ClassChoosingMenu/EvreyButton.txt"
IDR_DOLBOEBBUTTON TEXTURE "../Textures/ClassChoosingMenu/DolboebButton.txt"